.logo{
  padding-top: 1rem;
  position : fixed;
  z-index: 1111;
}

body {
// font-family: 'Roboto', sans-serif;
margin: 0;
}

.nav {
  font-family: sans-serif;
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
  position: fixed;
  font-size: 0.9em;
  color: white;
  float: right; /* Clear floats */
  width: 100%;
  top: 0 ;
  margin: 0;
  list-style: none;
  font-weight: lighter;
  background-image: linear-gradient(270deg,#08383d,#01645f);
  // background: linear-gradient(to right, rgb(67, 109, 98) , rgb(27, 95, 75));
  z-index: 111;
  height: 65px;
  // height: auto;
  // padding-top: 20px;
  a {
    text-decoration: none;
  }
  li {
    padding-top: 3px;
  }
  
}
.parent {
  margin-right: 3rem;
}
.nav li {
  position: relative;
  float: right;
  p {
      margin-right: 2rem;
      padding-right: 30px;
      
  }
  
}

.nav p {
  padding: 0.7em;
  color: white;
  text-decoration: none;
  
  
}

.nav p:hover{
  color: rgb(118, 224, 193);
}

/*--- DROPDOWN ---*/
.nav__sub_menu {
  background-image: linear-gradient(270deg,#08383d,#01645f);
  padding-right:23px;
  padding-left: 0;
  margin-top: -1rem;
  list-style: none;
  position: absolute;
  left: -9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
  width: 240%;
  margin-left: -110px;
}

.nav__sub_menu li {
  float: left;
  padding: 1em;
  line-height: 0rem;
  border-bottom: 1.4px solid rgb(118, 224, 193);
  width: 100%;
}

.nav__sub_menu p{
  white-space: nowrap; /* Stop text wrapping and creating multi-line dropdown items */
}

.nav li:hover ul{ /* Display the dropdown on hover */
  left: 0; /* Bring back on-screen when needed */
}